# Python
__pycache__/

/cmumosei
MSAbypkl/logs
video2pkl/video2pkl/ch_video/
video2pkl/video2pkl/en_video/
video2pkl/video2pkl/test_video/
video2pkl/video2pkl/valid_video/
MSAbypkl/models/
video2pkl/unaligned_en.pkl
video2pkl/unaligned_zh.pkl
# VS Code
.vscode/
*.code-workspace

# 环境/依赖

.venv/



# 日志文件
*.log
*.crdownload

# 系统文件
.DS_Store